
.am-navbar{
  background-image: url("./statics/161118Cardamomo\ Esp728x90px.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  /* background-position-x:
  background-position-y: */
}

.am-card-header-content{
 color: black;
 font-weight: bold;
}

#card-image {
  background-repeat: no-repeat;
  background-size: 100%;
}

.am-wingblank {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px
}

#down-card{
  margin-top: -22px;
}
body{
  height: 100%;
}

.drops{
  display: flex;
  justify-content: space-around;
}

.dropdown{
  width: 49%;
  margin-top: 25px
}

.dropdown button{
  width: 100%;
}

.react-calendar{
  margin: 20px 100px;
}
.calend-session{
  display: flex;
  width: 49%;
}
.box-controller{
  display: flex;
  justify-content: space-around;
  margin:30px;
  width: 50%;
}



/* color corporativo: #ED3833 */