
.am-navbar{
  background-image: url("./statics/161118Cardamomo\ Esp728x90px.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.am-card-header-content{
 color: black;
 font-weight: bold;
}

#card-image {
  background-repeat: no-repeat;
  background-size: 100%;
}

.am-wingblank {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px
}

#down-card{
  margin-top: -22px;
}
body{
  height: 100%;
}

.drops{
  display: flex;
  justify-content: space-around;
}

.dropdown{
  width: 49%;
  margin-top: 25px
}

.dropdown button{
  width: 100%;
  background-color: #333333;
  border-color: #9c9c9c9c;
}

.react-calendar{
  margin: 20px 100px;
}
.calend-session{
  display: flex;
  width: 100%;
}
.box-controller{
  display: flex;
  justify-content: space-around;
  margin:30px;
  width: 50%
}
.cards{
  margin: 20px;
  width: 50%
}
.btn-success{
  margin: 0px 100px 15px;
}
#card-image{ 
  height: calc(67vh) !important;
  padding: 20px;
}


/* color corporativo Cardamomo: #ED3833 */